NAMESPACE=vllm-inference
HF_DIR=/models-cache
PVC_SIZE=20Gi
MODEL_ID=nomic-ai/nomic-embed-text-v1.5 # text only version
EMBED_DIM=768
# GPU version (if using GPU, also update RHIIS_IMAGE below):
# RHIIS_IMAGE="registry.redhat.io/rhaiis/vllm-cuda-rhel9:3"
# CPU version (default):
RHIIS_IMAGE="registry.redhat.io/rhaiis/vllm-cpu-rhel9:3"
HF_TOKEN=hf_<your_token>
